<app-navbar></app-navbar>
<div class="testbox">
  <form [formGroup]="ajoutFilmForm" (ngSubmit)="ajoutFilm()">
    <h3>Ajout d'un film</h3>
    <div class="colums">
      <div class="item">
        <mat-form-field>
          <label>Titre *</label>
          <input matInput id="titre" type="text" required="required" [formControl]="titreControl"/>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field>
          <label>Durée en min *</label>
          <input matInput id="duree" type="number" [formControl]="dureeControl" required="required"/>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field>
          <label>Date de sortie *</label>
          <input matInput id="date_sortie" type="date" [formControl]="dateSortieControl" required="required"/>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field>
          <label>Budget *</label>
          <input matInput id="budget" type="number" [formControl]="budgetControl" required="required"/>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field>
          <label>Recette *</label>
          <input matInput id="recette" type="number" [formControl]="recetteControl" required="required"/>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field>
          <label>Note * /10</label>
          <input matInput id="note" type="float" [formControl]="noteControl" required="required"/>
        </mat-form-field>
      </div>
    </div>

    <div class="colums">
      <div class="item">
        <label>Réalisateur</label>
        <select matInput id="noRea" type="text" [formControl]="reaControl" required="required">
          <option value=""> Choisir un réalisateur </option>
          <option *ngFor="let realisateur of realisateurTable" [value]="realisateur.noRea">
            {{realisateur.nom}}
          </option>
        </select>
      </div>

      <div class="item">
        <label>Categorie</label>
        <select matInput id="categorie" type="text" [formControl]="categControl" required="required">
          <option value=""> Choisir une catégorie </option>
          <option *ngFor="let categorie of categorieTable" [value]="categorie.id">
            {{categorie.libelle}}
          </option>
        </select>
      </div>

      <div class="description">
        <mat-form-field>
          <label>Description *</label>
          <input matInput id="description" type="text" [formControl]="descriptionControl" required="required"/>
        </mat-form-field>
      </div>

      <div class="item">
        <label for="imgFilm">Image du film (2 Mo)*</label>
        <input type="file"
               id="imgFilm" name="imgFilm"
               accept="image/png, image/jpeg" (change)="filetoBase64($event)" [formControl]="imgControl">
      </div>
    </div>
    <div class="btn-block">
      <button type="submit">Ajouter</button>
    </div>
  </form>
</div>
