<app-navbar></app-navbar>
<form [formGroup]="modifActeurForm" (ngSubmit)="modifActeur()">
  <h3>Modifier un acteur</h3>

  <div class="colums">
    <div class="item">
      <label>Acteur à modifier</label>
      <br/>
      <select matInput id="acteurModifier" type="text" [formControl]="idControl" required="required">
        <option value=""> Choisir un acteur </option>
        <option *ngFor="let acteur of acteurTable" [value]="acteur.id">
          {{acteur.nom}}
        </option>
      </select>
    </div>

    <div class="item">
      <mat-form-field>
        <label>Prénom *</label>
        <input matInput type="text" id="prenom" [formControl]="prenomControl" required="required"/>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field>
        <label>Nom *</label>
        <input matInput type="text" id="nom" [formControl]="nomControl" required="required"/>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field>
        <label>Date de naissance</label>
        <input matInput type="date" id="date_naissance" [formControl]="naissanceControl"/>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field>
        <label>Date de décès</label>
        <input matInput type="date" id="date_deces" [formControl]="decesControl"/>
      </mat-form-field>
    </div>

    <div class="item">
      <label for="imgActeur">Image acteur (max: 2 Mo)</label>
      <input type="file"
             id="imgActeur" name="imgActeur"
             accept="image/png, image/jpeg" (change)="filetoBase64($event)" [formControl]="imgControl">
    </div>
  </div>

  <button type="submit" href="/">Modifier</button>
</form>
