<app-navbar></app-navbar>
<h1 style="color:white; text-align: center">Liste des acteurs</h1>
<div class="container">
  <div class="flex flex-wrap" style="display: inline-flex">

    <div class="container-acteur" *ngFor="let user of mesActeurs | paginate: { itemsPerPage: 9, currentPage: page }">


      <div>
        <div class="card card-profile mt-4" (click)="openActeur(user)">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-n5">
              <a href="javascript:;">
                <div class="p-3 pe-md-0">
                  <img *ngIf="user.image" [src]="buildImg(user)" class="w-100 border-radius-md shadow-lg">
                  <img *ngIf="!user.image" src="../../../assets/img/default-user.jpg"
                       class="w-100 border-radius-md shadow-lg">
                </div>
              </a>
            </div>
            <div class="col-lg-8 col-md-6 col-12 my-auto">
              <div class="card-body ps-lg-0">
                <div class="d-inline">
                  <h5 class="mb-0">{{user.prenom}}</h5>
                  <h5 class="mb-0">{{user.nom}}</h5>
                </div>
                <p class="mb-0">Né le {{user.naissance | date: "dd/MM/yyyy"}}</p>
                <p class="mb-0" *ngIf="user.deces">Mort le {{user.deces | date: "dd/MM/yyyy"}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div *ngIf="mesActeurs" fxLayout="row wrap">
  <div fxFlex="100" class="p-2">
    <mat-card class="p-0 text-center pages">
      <pagination-controls previousLabel="Précédent" nextLabel="Suivant" class="annular-pagination" autoHide="true"
                           maxSize="3" (pageChange)="onPageChanged($event)"></pagination-controls>
    </mat-card>
  </div>
</div>

