<app-navbar></app-navbar>
<form [formGroup]="ajoutActeurForm" (ngSubmit)="ajoutActeur()">
  <h3>Ajout d'un acteur</h3>

  <mat-form-field>
    <label>Prénom</label>
    <input matInput type="text" id="prenom" [formControl]="prenomControl"/>
  </mat-form-field>

  <mat-form-field>
    <label>Nom</label>
    <input matInput type="text" id="nom" [formControl]="nomControl"/>
  </mat-form-field>

  <mat-form-field>
    <label>Date de naissance</label>
    <input matInput type="date" id="date_naissance" [formControl]="naissanceControl"/>
  </mat-form-field>

  <mat-form-field>
    <label>Date de décès</label>
    <input matInput type="date" id="date_deces" [formControl]="decesControl"/>
  </mat-form-field>

  <mat-form-field>
    <label>Dans le film:</label>
    <input matInput type="text" id="film" [formControl]="filmControl"/>
  </mat-form-field>

  <div class="item">
    <label for="imgActeur">Image de l'acteur (taille max: 2 Mo)</label>
    <input type="file"
           id="imgActeur" name="imgActeur"
           accept="image/png, image/jpeg" (change)="filetoBase64($event)" [formControl]="imgControl">
  </div>

  <button type="submit" href="/">Ajouter</button>
</form>
