<app-navbar></app-navbar>

<form [formGroup]="modifRealisateurForm" (ngSubmit)="modifRealisateur()">
  <h3>Modifier un réalisateur</h3>

  <div class="colums">
    <div class="item">
      <label>Réalisateur à modifier</label>
      <br/>
      <select matInput id="reaModifier" type="text" [formControl]="idControl" required="required">
        <option value=""> Choisir un realisateur</option>
        <option *ngFor="let realisateur of realisateurTable" [value]="realisateur.noRea">
          {{realisateur.nom}}
        </option>
      </select>
    </div>

    <div class="item">
      <mat-form-field>
        <label>Prénom *</label>
        <input matInput type="text" id="prenom" [formControl]="prenomControl" required="required"/>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field>
        <label>Nom *</label>
        <input matInput type="text" id="nom" [formControl]="nomControl" required="required"/>
      </mat-form-field>
    </div>

  </div>

  <button type="submit">Modifier</button>
</form>
