<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-4">
      <img *ngIf="film.image" class="movie-list-item-img" [src]="buildImg(film)" alt="image film">
      <img *ngIf="!film.image" class="movie-list-item-img" src="../../../assets/img/default.jpg" alt="image film">
    </div>
    <div class="col-lg-6 col-sm-8">
        <div class="titre-date">
          <div>
            <h1>{{film.titre}}</h1>
          </div>
          <div class="date">
            <p>Le {{film.dateSortie | date:"dd/MM/yyyy"}}</p>
          </div>
         </div>
        <p style="text-align: justify">{{film.description}}</p>
        <p>Par {{realisateur.prenom}} {{realisateur.nom}}</p>

        <div style="display: inline-flex">
          <p>Avec </p>
          <p>&nbsp; {{listeAct(acteurs)}}</p>
        </div>
      <div>
        <div style="display: inline-flex">
          <p>Personnages : </p>
          <p>&nbsp; {{listePers(personnages)}}</p>
        </div>
      </div>
        <p>Durée : {{film.duree}} minutes</p>
        <p>Catégorie : {{categorie.libelle}}</p>
      <div class="rating" style="display:inline-flex;">
      <ng-rating-bar class="movie-list-item-rate"
                     [value]="getNote(film)"
                     [ratingCount]="10"
                     [disabled]="true" [styles]="styles"
      ></ng-rating-bar>
      <!--<p>{{film.note}} / 10</p>-->
      </div>
      <div>
        <button class="btn-delete" *ngIf="admin" (click)="deleteFilm(film.id)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
