<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" [href]="cinemaepul">Cinema EPUL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="connected">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkFilms" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Films
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkFilms">
            <li><a class="dropdown-item" href="/films">Voir les films</a></li>
            <li *ngIf="admin"><a class="dropdown-item" href="/ajout-film">Ajouter un film</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkActeurs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acteurs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkActeurs">
            <li><a class="dropdown-item" href="/acteurs">Voir les acteurs</a></li>
            <li *ngIf="admin"><a class="dropdown-item" href="/ajout-acteur">Ajouter un acteur</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="admin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/ajout-catego">Ajouter une catégorie</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="admin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkPersos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Personnages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPersos">
            <li><a class="dropdown-item" href="/ajout-perso">Ajouter un personnage</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="admin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkRealisateurs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Réalisateurs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkRealisateurs">
            <li><a class="dropdown-item" href="/ajout-realisateur">Ajouter un réalisateur</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" aria-expanded="false" (click)="deconnexion()">
            Se déconnecter
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
