<app-navbar></app-navbar>
<form [formGroup]="ajoutPersoForm" (ngSubmit)="ajoutPerso()">
  <h3>Ajout d'un personnage</h3>

  <div class="item">
    <label>Personnage *</label>
    <input matInput type="text" id="nom" [formControl]="persoControl" required="required"/>
  </div>

  <div class="colums">
    <div class="item">
      <label>Film</label>
      <select matInput id="film" type="text" [formControl]="filmControl" required="required">
        <option value=""> Choisir un film </option>
        <option *ngFor="let film of filmTable" [value]="film.id">
          {{film.titre}}
        </option>
      </select>
    </div>

    <div class="item">
      <label>Acteur</label>
      <select matInput id="acteur" type="text" [formControl]="acteurControl" required="required">
        <option value=""> Choisir un acteur </option>
        <option *ngFor="let acteur of acteurTable" [value]="acteur.id">
          {{acteur.nom}}
        </option>
      </select>
    </div>
  </div>

  <button type="submit" href="/">Ajouter</button>
</form>
