<app-navbar></app-navbar>
<form [formGroup]="ajoutPersoForm" (ngSubmit)="ajoutPerso()">
  <h3>Ajout d'un personnage</h3>

  <label>Personnage</label>
  <input matInput type="text" id="nom" [formControl]="persoControl"/>

  <mat-form-field>
    <mat-label>Film</mat-label>
    <mat-select matInput id="film" style="width:425px; height: 30px" [formControl]="filmControl">
      <mat-option *ngFor="let film of filmTable" [value]="film.id">
        {{film.titre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Acteur</mat-label>
    <mat-select matInput id="acteur" style="width:425px; height: 30px" [formControl]="acteurControl">
      <mat-option *ngFor="let acteur of acteurTable" [value]="acteur.id">
        {{acteur.nom}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" href="/">Ajouter</button>
</form>
